<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<title>List</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" /><!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" /><!-- Optional theme -->
		<link rel="stylesheet" href="../../../resources/styles/ratemydates.css" th:href="@{|/resources/styles/ratemydates.css|}" /><!-- ratemydates styles -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script><!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script><!-- Latest compiled and minified JavaScript -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	
	<body>
		<div class="wrapper">
			<!-- Header -->
			<header></header>
			
			<!-- Main -->
			<main>
				<section class="container end-btn">
					<div class="row">
			  			<aside class="col-md-3 hidden-print hidden-xs hidden-sm"></aside>
			      		<div class="col-md-9">
			      			
			      			<!-- LIST FRAGMENT -->
			      			<div th:fragment="table">
			      				<h1 th:text="${pageTitle}">Entity</h1>
				      			<div class="table-responsive">
					      			<table class="table table-striped table-hover table-condensed">
					      				<thead>
					      					<tr>
					      						<th th:each="property, row : ${properties}">
					      							<span th:text="${titles[row.index]}">column</span>
					      							<span>
					      								<a  href="#"
					      									th:href="@{|${baseUrl}|(page=1,size=${objects.size},sort=|${property},asc|)}"
					      									th:class="${(
					      										objects.sort !=null and
					      										objects.sort.getOrderFor(property) != null and
					      										objects.sort.getOrderFor(property).direction == T(org.springframework.data.domain.Sort$Direction).ASC)?
					      										'active':''}"
					      								><span class="glyphicon glyphicon-chevron-up"></span></a>
					      								<a  href="#"
					      									th:href="@{|${baseUrl}|(page=1,size=${objects.size},sort=|${property},desc|)}"
					      									th:class="${(
					      										objects.sort !=null and
					      										objects.sort.getOrderFor(property) != null and
					      										objects.sort.getOrderFor(property).direction == T(org.springframework.data.domain.Sort$Direction).DESC)?
					      										'active':''}"
					      								><span class="glyphicon glyphicon-chevron-down"></span></a>
					      							</span>
				      							</th>
				      							<th class="tool-column"></th>
				      							<th class="tool-column"></th>
				      							<th class="tool-column"></th>
					      					</tr>
					      				</thead>
					      				<tbody>
									        <tr th:each="o : ${objects}">
									        	<td th:each="property : ${properties}">
									        		<span th:text="${o.__${property}__}">value</span>
									        	</td>
									        	<td class="tool-column">
									        		<a href="#" th:href="@{|/admin/${alias}/show/${o.id}|}" data-toggle="tooltip" data-placement="bottom" title="Show">
									        			<span class="glyphicon glyphicon-eye-open"></span>
									        		</a>
								        		</td>
								        		<td class="tool-column">
									        		<a href="#" th:href="@{|/admin/${alias}/edit/${o.id}|}" data-toggle="tooltip" data-placement="bottom" title="Edit">
									        			<span class="glyphicon glyphicon-pencil"></span>
									        		</a>
								        		</td>
								        		<td class="tool-column">
									        		<a href="#" th:href="@{|/admin/${alias}/delete/${o.id}|}" data-toggle="tooltip" data-placement="bottom" title="Delete">
									        			<span class="glyphicon glyphicon-remove"></span>
									        		</a>
								        		</td>
										    </tr>
									    </tbody>
								    </table>
								</div>
								<div
									class="text-center"
									th:if="${objects.totalPages>1}"
							    	th:with="
							    		baseUrl=|/admin/${alias}/list|,
							    		current=${objects.number+1},
							    		start=${(objects.totalPages>=5 and current>2)?(current-2):1},
							    		maxPages=${((current+4) &lt; objects.totalPages)?(current+4):objects.totalPages}">
						    		
								    <ul class="pagination">
									    <li>
									    	<a
									    		href="#"
									    		th:href="@{|${baseUrl}|(page=1,size=${objects.size},sort=${{objects.sort}})}"
									    		th:class="${(current == 1)?'disabled':''}">&laquo;</a>
									    </li>
									    
									    <li
									    	th:each="i : ${#numbers.sequence(start, maxPages)}"
									    	th:class="${(current == i)?'active':''}">
									    	<a
									    		href="#"
									    		th:href="@{|${baseUrl}|(page=${i},size=${objects.size},sort=${{objects.sort}})}"
									    		th:text="${i}">1</a>
									    </li>
									    
									    <li>
									    	<a
									    		href="#"
									    		th:href="@{|${baseUrl}|(page=${objects.totalPages},size=${objects.size},sort=${{objects.sort}})}"
									    		th:class="${(current == objects.totalPages)?'disabled':''}">&raquo;</a>
									    </li>
									</ul>
							    </div>
					    	</div>
					    	
					    </div>
					</div>
			    </section>
		    </main>
		</div>
		
		<!-- Footer -->
	    <footer role="contentinfo"></footer>
	</body>
</html>