<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	th:with="templatePath=${'admin/edit/role'}, pageTitle=${'Role'}">
	
	<head th:replace="fragments/admin/layout :: head">
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<title>User - edit</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" /><!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" /><!-- Optional theme -->
		<link rel="stylesheet" href="../../../resources/styles/ratemydates.css" th:href="@{|/resources/styles/ratemydates.css|}" /><!-- ratemydates styles -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script><!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script><!-- Latest compiled and minified JavaScript -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	
	<body th:replace="fragments/admin/layout :: body">
	
		<div class="wrapper">
		
			<!-- Header -->
			<header></header>
			
			<!-- Main -->
			<main>
				<section class="container end-btn">
					<div class="row">
					
			  			<aside class="col-md-3 hidden-print hidden-xs hidden-sm"></aside>
			  			 
			      		<div class="col-md-9">
			      			<div th:fragment="content">
			      				<a th:replace="fragments/form/buttons :: list">List</a>
			      				<a th:replace="fragments/form/buttons :: show">Show</a>
			      				<h1>Role</h1>
			      				<div>
			      					<form
			      						class="form-horizontal form-admin"
			      						role="form"
			      						action="../list/role.html"
			      						th:action="@{/admin/role/update}"
			      						method="POST" th:object="${entity}">
			      						
			      						<!-- Errors -->
										<div th:if="${#fields.hasErrors()}" class="alert alert-danger alert-dismissible" role="alert">
											<button type="button" class="close" data-dismiss="alert">
												<span aria-hidden="true">&times;</span>
												<span class="sr-only">Close</span>
											</button>
											<ul>
											    <li th:each="e : ${#fields.detailedErrors()}">
											        <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> : 
											        <span th:text="${e.message}">The error message</span>
											    </li>
											</ul>
										</div>
			      						
			      						<!-- id -->
			      						<span th:with="name='id', value=*{id}" th:include="fragments/form/fields :: hidden" />
			      						<!-- login -->
			      						<div th:with="name='name', value=*{name}, label='Name', type='text', placeholder='ROLE_*', required=true" th:include="fragments/form/fields :: text" />
			      						
			      						<!-- Submit -->
										<div th:with="label='Submit'" th:include="fragments/form/fields :: submit" />
			      					</form>
			      				</div>
			      			</div>
					    </div>
					</div>
			    </section>
		    </main>
		</div>
		
		<!-- Footer -->
	    <footer role="contentinfo"></footer>
	</body>
</html>