<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head th:replace="fragments/layout :: head">
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<title>Home page</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" /><!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" /><!-- Optional theme -->
		<link rel="stylesheet" href="../../../resources/styles/ratemydates.css" th:href="@{|/resources/styles/ratemydates.css|}" /><!-- ratemydates styles -->
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script><!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script><!-- Latest compiled and minified JavaScript -->
	    
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body>
		<div class="wrapper">
			<!-- Header -->
			<header th:replace="fragments/layout :: header">
				<nav class="navbar navbar-inverse navbar-static-top" role="navigation"></nav>
			</header>
			
			<!-- Main -->
			<main>
				<div class="jumbotron gradient">
					<section class="container end-btn">
				        <h1>Hello, world!</h1>
				        <p>
				        	Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				        	Mauris id elit ut urna tempor euismod sit amet sed dolor.
				        	Praesent eu tellus bibendum, porta quam vel, luctus dui.
				        	Cras ac est sodales, luctus metus eget, mollis purus.
				        	Suspendisse ut neque tempus ligula pretium ullamcorper pellentesque ut elit.
				        	Praesent accumsan tortor turpis, at rutrum eros lacinia non.
				        </p>
				        <p>
				        	<a class="btn btn-primary btn-lg pull-right" role="button" href="#">Read more &raquo;</a>
			        	</p>
				    </section>
			    </div>
			    <section class="container">
			    	<div class="row">
				    	<div class="col-md-4 end-btn">
					    	<h2>Sub-title 1</h2>
					    	<p>
					        	Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					        	Mauris id elit ut urna tempor euismod sit amet sed dolor.
					        	Praesent eu tellus bibendum, porta quam vel, luctus dui.
					        </p>
					        <p>
					        	<a class="btn btn-default btn-sm pull-right" role="button" href="#">Read more &raquo;</a>
				        	</p>
			        	</div>
			        	<div class="col-md-4 end-btn">
					    	<h2>Sub-title 2</h2>
					    	<p>
					        	Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					        	Mauris id elit ut urna tempor euismod sit amet sed dolor.
					        	Praesent eu tellus bibendum, porta quam vel, luctus dui.
					        </p>
					        <p>
					        	<a class="btn btn-default btn-sm pull-right" role="button" href="#">Read more &raquo;</a>
				        	</p>
			        	</div>
			        	<div class="col-md-4 end-btn">
					    	<h2>Sub-title 3</h2>
					    	<p>
					        	Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					        	Mauris id elit ut urna tempor euismod sit amet sed dolor.
					        	Praesent eu tellus bibendum, porta quam vel, luctus dui.
					        </p>
					        <p>
					        	<a class="btn btn-default btn-sm pull-right" role="button" href="#">Read more &raquo;</a>
				        	</p>
			        	</div>
		        	</div>
			    </section>
		    </main>
		</div>
		
		<!-- Footer -->
	    <footer th:replace="fragments/layout :: footer" role="contentinfo"></footer>
	</body>
</html>