<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head></head>
	<body>
		<form>
			<!-- Hidden -->
			<span th:fragment="hidden">
				<input type="hidden" class="form-control" id="id" name="name" th:attr="id=${name}, name=${name}, value=${value}" />
			</span>
			
			<!-- Text -->
			<div th:fragment="text">
				<fieldset
					th:class="'form-group' + ((${required}) ? ' required' : '') + ' ' + ${#fields.hasErrors(name)? 'has-feedback has-error' : #fields.hasErrors() ? 'has-feedback has-success' : ''}">
				    <label for="input" class="col-sm-3 control-label" th:attr="for=${name}" th:text="${label}">Field</label>
				    <div class="col-sm-9">
				        <input
				        	type="text" class="form-control"
				        	id="input" name="name"
				        	maxlength="255"
				        	placeholder="Placeholder"
				        	th:attr="id=${name}, name=${name}, value=${value}, placeholder=${placeholder}, type=${type}, required=${required}"/>
				        <span class="glyphicon glyphicon-ok form-control-feedback" th:if="${#fields.hasErrors() and !#fields.hasErrors(name)}"></span>
				        <span class="glyphicon glyphicon-remove form-control-feedback" th:if="${#fields.hasErrors(name)}"></span>
				        <span class="help-block" th:if="${#fields.hasErrors(name)}" th:errors="${entity}">Error</span>
				    </div>
				</fieldset>
			</div>
			<!-- Text -->
			<div th:fragment="checkbox">
				<fieldset
					th:class="'form-group ' + ${#fields.hasErrors(name) ? 'has-feedback has-error' : #fields.hasErrors() ? 'has-feedback has-success' : ''}">
				    <label for="input" class="col-sm-3 control-label" th:attr="for=${name}" th:text="${label}">Field</label>
				    <div class="col-sm-9">
				        <input
				        	type="checkbox"
				        	id="input"
				        	th:attr="id=${name}, name=${name}, checked=${checked}, value=${value}"/>
				    </div>
				</fieldset>
			</div>
			
			<!-- Submit -->
			<div th:fragment="submit">
				<fieldset class="form-group">
				    <div class="col-sm-12 text-right">
				        <button type="submit" class="btn btn-success" th:text="${label}">Submit</button>
				    </div>
			    </fieldset>
		    </div>
		</form>
	</body>
</html>