<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	th:with="templatePath=${'admin/show/user'}, pageTitle=${'User'}">
	
	<head th:replace="fragments/admin/layout :: head">
		<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<title>Admin</title>
		
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" /><!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" /><!-- Optional theme -->
		<link rel="stylesheet" href="../../../resources/styles/ratemydates.css" th:href="@{|/resources/styles/ratemydates.css|}" /><!-- ratemydates styles -->
	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script><!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script><!-- Latest compiled and minified JavaScript -->
	    
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	
	<body th:replace="fragments/admin/layout :: body">
	
		<div class="wrapper">
		
			<!-- Header -->
			<header></header>
			
			<!-- Main -->
			<main>
				<section class="container end-btn">
					<div class="row">
					
			  			<aside class="col-md-3 hidden-print hidden-xs hidden-sm"></aside> 
			  			
			      		<div class="col-md-9">
			      			<div th:fragment="content">
			      				<a th:replace="fragments/form/buttons :: delete">Delete</a>
			      				<a th:replace="fragments/form/buttons :: list">List</a>
			      				<a th:replace="fragments/form/buttons :: edit">Edit</a>
			      				<h1>User</h1>
			      				<div th:object="${entity}" class="entity list-group">
			      					<div class="row attribute list-group-item"><span class="col-xs-4 attribute-name">Login</span><span class="col-xs-8 attribute-value" th:text="*{login}"></span></div>
			      					<div class="row attribute list-group-item"><span class="col-xs-4 attribute-name">E-mail address</span><span class="col-xs-8 attribute-value" th:text="*{email}"></span></div>
			      					<div class="row attribute list-group-item"><span class="col-xs-4 attribute-name">First name</span><span class="col-xs-8 attribute-value" th:text="*{firstName}"></span></div>
			      					<div class="row attribute list-group-item"><span class="col-xs-4 attribute-name">Last name</span><span class="col-xs-8 attribute-value" th:text="*{lastName}"></span></div>
			      					<div class="row attribute list-group-item"><span class="col-xs-4 attribute-name">Address</span><span class="col-xs-8 attribute-value" th:text="*{address}"></span></div>
			      					<div class="row attribute list-group-item"><span class="col-xs-4 attribute-name">Address 2</span><span class="col-xs-8 attribute-value" th:text="*{address2}"></span></div>
			      					<div class="row attribute list-group-item"><span class="col-xs-4 attribute-name">City</span><span class="col-xs-8 attribute-value" th:text="*{cityName}"></span></div>
			      					<div class="row attribute list-group-item"><span class="col-xs-4 attribute-name">Postal Code</span><span class="col-xs-8 attribute-value" th:text="*{postalCode}"></span></div>
			      					<div class="row attribute list-group-item"><span class="col-xs-4 attribute-name">Country</span><span class="col-xs-8 attribute-value" th:text="*{countryName}"></span></div>
			      				</div>
						    </div>
						</div>
					</div>
			    </section>
		    </main>
		</div>
		
		<!-- Footer -->
	    <footer role="contentinfo"></footer>
	</body>
</html>